.main-background {
    flex: 1 1 auto;
    /* flex: пропорции пространства внутри контейнера, коэффициент сжатия, начальный размер контейнера; */
    /* height: 80vh; */
    color: white;
    background-color: var(--main-color);
    font-size: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.start-page {
    padding-top: 30vh;
    padding-bottom: 40vh;
}

/* .start-page__text {
    margin: 0;
} */